p {
  font-family: "Gorditas", cursive;
}
h1 {
  display: inline;
}
.head h1 {
  font-size: 25px;
}
.contents {
  float: right;
}
li {
  display: inline-block;
}
.head {
  margin-top: 3%;
}
.content {
  margin: 10px;
  font-size: 15px;
}
.relative {
  width: 100%;
}
p {
  text-align: right;
}
.back_img {
  width: 50%;
  margin: 10% 0 0 50%;
}

.absolute {
  font-size: 50px;
  display: block;
  margin-top: -20%;
}
.color {
  background: linear-gradient(-90deg, #0000cd, #00008b);
  width: 60%;
  padding: 10%;
}
